* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #E4E4E4;
}

.appindex{
  margin: 0px;width: 100%;
  position: relative;
}
.topbarnar{
  position: relative;
  margin-bottom: 60px;
}
.center{
  position: relative;
  padding-bottom: 60px;
}
.footer {
    /*position: fixed;*/
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    
    margin-bottom: 0px: 
    background: #fff;
    border-top: #acacac solid 1px;
    text-align: center;
}


.index-body{
 /*  建立弹性框 */
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -1px;
}


/* IE 6 */
/** html .footer {*/
    /*position: absolute;*/
    /*top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');*/
/*}*/