
<style>
	.wrap{
		background: white;
		margin: 0 auto;
		width: 100%;
	}
	.header_view{
		/*margin:20px;*/
		/*height:1px;*/
		/*border:solid 1px #0000FF;*/
	}
	.container{
		position:relative;
		/*margin:20px;*/
		height:400px;
	}
	.left_side{
		position:absolute;
		top:0px;
		left:0px;
		/*border:solid 1px #0000FF;*/
		width:250px;
		height:100%;
	}
	.content{
		margin:0px 300px 0px 250px;
		/*border:solid 1px #0000FF;*/
		height:100%;
		padding:10px;
	}
	.contern-border{
		border-bottom: solid 1px #ececec;
	}
	.right_side{
		position:absolute;
		top:0px;
		right:0px;
		/*border-left:solid 1px #0000FF;*/
		width:300px;
		height:100%;
	}
	.footer{
		margin:20px;
		height:80px;
		border:solid 1px #0000FF;
	}


	.blog-item{
		position: relative;
		height: 200px;
		margin-top: 20px;
		margin-bottom: 50px;
		left: 0;
		/*border-bottom:solid 1px #E5E5E5;*/

	}


	/*.blog-item>img{*/
		/*position: absolute;*/
		/*right: 0;*/
		/*top: 0;*/
		/*height: 180px;*/
		/*width: 300px;*/
	/*}*/
	.blog-item-auth{
		position: absolute;
		/*margin-top: 10px;*/
		bottom: 5px;
	}
	.blog-item-remark{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.blog-item-content{
		/*position: absolute;*/
	}
	.blog-item-content p{
		overflow:hidden;
		text-overflow:ellipsis;
		/*background: greenyellow;*/
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
		height: 80px;
		color:#959595;
		margin-top: 10px;
		/*border:1px #ff8000 dashed;*/
	}
	.blog-item-content-img{
		width: 200px;
		height: 150px;
		margin-right: 10px;

	}
	.blog-item-ReadMe{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	/*blog-item-content>a:hover{*/
		/*color: black;*/
	/*}*/
	
</style>

<div class="wrap">
	<div class="header_view"></div>
	<div class="left_side col-md-2" >

		<button class="btn btn-default"
				style="width:90px;background:#fff;border: solid 1px #cdcdcd;font-size: 12px;padding: 5px;margin-top: 20px"
                ui-sref="blog.editor"
				>
            <!--data-toggle="modal" data-target="#myModal"-->
			写日记
		</button>

	</div>

	<div class="content container col-md-8" style="background: white" >

		<div class="blog-item contern-border">
			<div style="padding-left: 10px">

				<div class="blog-item-content">
					<div style="float:left;" ng-if="false">
						<img src="app/imgs/portfolio-3.jpg"class="blog-item-content-img">
					</div>

					<div style="left: 10px;">
						<div class="blog-title h4">
							<a ui-sref="blog.detail" style="text-decoration: none;">
								帝国cms 列表页调用子栏目，没有则不显示栏目名称
							</a>
						</div>
						<div class="">
							<span style="color: #959595">发布日期：2018-06-11</span>
						</div>
						<p >
							使用帝国cms要在列表页调用该栏目下的子栏目，比如我网站上的“博客日记”，该栏目下面没有子栏目，如果我使用这一句调用，那么就会出现“模板分享，学无止境，慢生活”等所有跟它同级的栏目。
							使用帝国cms要在列表页调用该栏目下的子栏目，比如我网站上的“博客日记”，该栏目下面没有子栏目，如果我使用这一句调用，那么就会出现“模板分享，学无止境，慢生活”等所有跟它同级的栏目。
							使用帝国cms要在列表页调用该栏目下的子栏目，比如我网站上的“博客日记”，该栏目下面没有子栏目，如果我使用这一句调用，那么就会出现“模板分享，学无止境，慢生活”等所有跟它同级的栏目。
						</p>

					</div>
				</div>

				<div class="blog-item-ReadMe">
					<!--<a style="text-decoration: none;border: solid 1px #cdcdcd;font-size: 12px;padding: 5px">阅读正文</a>-->
					<button class="btn" style="background:#fff;border: solid 1px #cdcdcd;font-size: 12px;padding: 5px" ui-sref="blog.detail">阅读正文</button>
				</div>
			</div>
		</div>


	</div>

	<div class="right_side col-md-2" ></div>
	<!--<div class="footer"></div>-->

</div>




<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>


                    <h4 class="modal-title" id="myModalLabel">
                        <label>Title:<input type="text" ></label>
                    </h4>
                </div>
                <div class="modal-body" >

                    <!-- <textarea name="" style="width: 100%;"></textarea> -->
                    <!-- <div id="blog_ckeditor" class="blog_ckeditor" scope="" onload=""></div> -->
                        <textarea id="TextArea1" cols="20" rows="2"  style="width: 100%" class="ckeditor"></textarea>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>

            </div><!-- /.modal-content -->

           </form>

        </div><!-- /.modal -->
    </div>
</div>
