
<style>
	.wrapper{
		/*display: table;*/
		  /*position:relative;*/
	}

	.photo-body{
		background:white;
		padding-top: 40px;
		padding-bottom: 40px;

		display: flex;
    	text-align: center;
	}
	
	.photo-content{

	}

</style>

<div ng-controller="photoController" class="wrapper">
		<div class="photo-body"  id="viewer">
			<div>
				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg" alt="图片1"
					 class="img-rounded"
					 style="width: 270px;height: 270px;margin-top: 5px">

				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg"
					 style="width: 270px;height: 270px; margin-top: 5px"
					 alt="图片2" class="img-rounded">

				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg" alt="图片1"
					 class="img-rounded"
					 style="width: 270px;height: 270px;margin-top: 5px">
				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg" alt="图片1"
					 class="img-rounded"
					 style="width: 270px;height: 270px;margin-top: 5px">

				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg"
					 style="width: 270px;height: 270px; margin-top: 5px"
					 alt="图片2" class="img-rounded">

				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg" alt="图片1"
					 class="img-rounded"
					 style="width: 270px;height: 270px;margin-top: 5px">
				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg" alt="图片1"
					 class="img-rounded"
					 style="width: 270px;height: 270px;margin-top: 5px">

				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg"
					 style="width: 270px;height: 270px; margin-top: 5px"
					 alt="图片2" class="img-rounded">

				<img src="app/imgs/portfolio-3.jpg"
					 data-original="app/imgs/portfolio-3.jpg" alt="图片1"
					 class="img-rounded"
					 style="width: 270px;height: 270px;margin-top: 5px">


			</div>

		</div>

</div>