<style type="text/css">
	
.navbar-fixed-top .navbar-inner {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
     /*opacity: 0.7;*/
}
.navbar-left-top{
	width: 200px;
	font: 200px;
	text-align: center;
}

.navbar-conter-top{

}
ul{
	margin-top: -15px;
}
a {
	font-size: 20px;
}
</style>
<div>
<nav class="navbar navbar-default navbar-fixed-top topnav">
	<div class="container-fluid"></div>.
	<div class="navbar-header navbar-left-top h3" > MySpace</div>

	<div>
		<ul class="nav nav-pills">
			<li><a ui-sref="app.home">首页</a></li>
			<li><a ui-sref="app.blogapp">blog</a></li>
			<li><a ui-sref="app.photo">光影</a></li>
			<li><a ui-sref="app.aboutme">About me</a></li>
		</ul>
	</div>

</nav>
<div>